@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    background-color: #1d9bf0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}
h1{
    padding: 5px;
    color: #2a2c2d;
}
.image-color-picker{
    width: 420px;
    min-height: 470px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}
.images-selector{
    height: 70px;
    width: 98%;
}
.images-selector img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.image-container{
    width: 350px;
    height: 300px;
    border: 3px solid gray;
    padding: 20px;
}
.image-container img{
    height: 100%;
    width: 100%;
}
.open-file-btn{
    display: none;
}
label,button{
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 18px;
    border-radius: 8px;
    color: aliceblue;
    margin-top: 20px;
    cursor: pointer;
    background-color: #1d9bf0;
}
button{
    font-size: 20px;
    padding: 8px 20px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.color-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 15px;
}
.color-block{
    display: none;
    width: 40px;
    height: 35px;
    border-radius: 4px;
    background-color: red;
    border: 1px solid black;
}
.color-name{
    border: 1px dotted gray;
    border-bottom: 2px solid black;
    min-width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.fa-copy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 98px;
    color: rgb(128, 128, 128);
    padding: 5px;
    cursor: pointer;
}
.hide{
    display: none;
}
.success{
    color: rgb(0, 156, 0);
    font-size: 16px;
}
.error{
    color: crimson;
}
.success i{
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(0, 156, 0);
    color: aliceblue;
}
.error i{
    padding: 3px 6px;
    border-radius: 50%;
    background-color: crimson;
    color: aliceblue;
}